In [4]:
# df1.info()
# 전력량 (억㎾h) -> 전력량으로 컬럼명을 변경
# 발전 전력별을 -> 발전전력 으로 변경
# 발전전력을 삭제
# 전력량을 인덱스로
# 컬럼과 인덱스를 위치 이동
#pandas.Series(data,index=[],columns=[])
#series.index, series.columns, series[[,,,...]], series[[:]]
#add(,full_fil=), sub(), mul(), devid()
#pandas.DataFrame(data,index=[],columns=[])
#dataframe.loc[:,:], dataframe.iloc[:,:], dataframe.set_index(), dataframe.rename()
#dataframe.reindex(), dataframe.index, dataframe.columns, dataframe.drop(index,columns,axis)
#dataframe.transpose(), pandas.read_csv(path,header,skiprow,columns...),data.to_csv(path)
#dataframe.read_excel(), dataframe.to_excel()
import pandas as pd 
path = "C:/Users/LG/Downloads/energe.xlsx"
energe = pd.read_excel(path)
energe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       9 non-null      object
 3   1991       9 non-null      object
 4   1992       9 non-null      object
 5   1993       9 non-null      object
 6   1994       9 non-null      object
 7   1995       9 non-null      object
 8   1996       9 non-null      object
 9   1997       9 non-null      object
 10  1998       9 non-null      object
 11  1999       9 non-null      object
 12  2000       9 non-null      object
 13  2001       9 non-null      object
 14  2002       9 non-null      object
 15  2003       9 non-null      object
 16  2004       9 non-null      object
 17  2005       9 non-null      object
 18  2006       9 non-null      object
 19  2007       9 non-null      object
 20  2008       9 non-null      object
 21  2009       9 non-null      object
 22  2010       9 non-null      object
 23  2011       9 non-null      object
 24  2012       9 non-null      object
 25  2013       9 non-null      object
 26  2014       9 non-null      object
 27  2015       9 non-null      object
 28  2016       9 non-null      object
dtypes: object(29)
memory usage: 2.2+ KB

In [10]:
energe.rename(columns={'전력량 (억㎾h)':'전력량','발전 전력별':'발전전력'},inplace=True)
energe

,전력량,발전전력,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [13]:
energe.drop(columns='발전전력',inplace=True)
energe

,전력량,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,1077,1186,1310,1444,1650,1847,2055,2244,2153,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,64,51,49,60,41,55,52,54,61,...,50,56,56,65,78,77,84,78,58,66
2,NaN,484,573,696,803,1022,1122,1264,1420,1195,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,529,563,565,581,587,670,739,771,897,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,277,263,247,221,231,230,213,193,170,...,236,255,235,237,211,215,221,216,190,239
6,NaN,156,150,142,133,138,142,125,107,102,...,133,141,125,134,132,135,139,130,100,128
7,NaN,121,113,105,88,93,88,88,86,68,...,103,114,110,103,79,80,82,86,90,111
8,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [15]:
energe.set_index('전력량',inplace=True)
energe

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
전력량,,,,,,,,,,,,,,,,,,,,,
남한,1077,1186,1310,1444,1650,1847,2055,2244,2153,2393,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
NaN,64,51,49,60,41,55,52,54,61,61,...,50,56,56,65,78,77,84,78,58,66
NaN,484,573,696,803,1022,1122,1264,1420,1195,1302,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
NaN,529,563,565,581,587,670,739,771,897,1031,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
NaN,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
북한,277,263,247,221,231,230,213,193,170,186,...,236,255,235,237,211,215,221,216,190,239
NaN,156,150,142,133,138,142,125,107,102,103,...,133,141,125,134,132,135,139,130,100,128
NaN,121,113,105,88,93,88,88,86,68,83,...,103,114,110,103,79,80,82,86,90,111
NaN,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [16]:
energe.T

전력량     남한 NaN   NaN   NaN  NaN   북한  NaN  NaN NaN
1990  1077  64   484   529    -  277  156  121   -
1991  1186  51   573   563    -  263  150  113   -
1992  1310  49   696   565    -  247  142  105   -
1993  1444  60   803   581    -  221  133   88   -
1994  1650  41  1022   587    -  231  138   93   -
1995  1847  55  1122   670    -  230  142   88   -
1996  2055  52  1264   739    -  213  125   88   -
1997  2244  54  1420   771    -  193  107   86   -
1998  2153  61  1195   897    -  170  102   68   -
1999  2393  61  1302  1031    -  186  103   83   -
2000  2664  56  1518  1090    -  194  102   92   -
2001  2852  42  1689  1121    -  202  106   96   -
2002  3065  53  1821  1191    -  190  106   84   -
2003  3225  69  1859  1297    -  196  117   79   -
2004  3421  59  2056  1307    -  206  125   81   -
2005  3646  52  2127  1468    -  215  131   84   -
2006  3812  52  2272  1487    -  225  126   99   -
2007  4031  50  2551  1429    -  236  133  103   -
2008  4224  56  2658  1510    -  255  141  114   -
2009  4336  56  2802  1478    -  235  125  110   -
2010  4747  65  3196  1486    -  237  134  103   -
2011  4969  78  3343  1547    -  211  132   79   -
2012  5096  77  3430  1503   86  215  135   80   -
2013  5171  84  3581  1388  118  221  139   82   -
2014  5220  78  3427  1564  151  216  130   86   -
2015  5281  58  3402  1648  173  190  100   90   -
2016  5404  66  3523  1620  195  239  128  111   -